@charset "UTF-8";
/**Variables**/
/**Maps**/
/**Variables**/
/**Maps**/
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: Lobster; }

body {
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); }

/**Variables**/
/**Maps**/
.navbar-nav {
  display: flex !important;
  justify-content: center !important;
  margin: 0px !important; }

h1 {
  color: #ab78db;
  font-size: 3.5rem;
  text-align: center; }

h2 {
  color: #ab78db;
  font-size: 2.5rem;
  text-align: center; }

nav {
  margin-bottom: 3rem;
  display: inline-block;
  text-align: right;
  width: 89%;
  margin-bottom: 4.5%; }

nav ul li {
  float: right;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-left: 1rem; }

.nav-link {
  text-decoration: none;
  color: #ab74df;
  font-size: 2.5rem; }

nav ul li a:hover {
  color: #f4fbfc; }

.link {
  display: inline-block;
  margin-block: 2px;
  text-decoration: none;
  color: #d16ba5;
  position: relative;
  margin-top: 10px;
  font-size: 1.5rem; }

.link::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #d16ba5;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25% ease; }

.link:hover::after {
  transform: scaleX(1); }

.logo {
  display: inline-block;
  width: 10%;
  border-radius: 50%;
  margin: 1%; }

.nav-bar {
  display: block;
  width: 100%; }

/**Variables**/
/**Maps**/
.social-media {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin-right: 1rem; }

.description-left {
  display: table-cell;
  margin-right: 50rem;
  margin-left: 100rem;
  margin-bottom: 100rem;
  margin-top: 30rem;
  font-size: large;
  background-color: azure;
  padding: 2rem;
  color: #5b5b5b;
  border-radius: 50rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: go-right;
  animation-duration: 1s; }

@keyframes go-right {
  0% {
    transform: translate(-100%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

@keyframes go-left {
  0% {
    transform: translate(100%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

.description-right {
  padding: 2rem;
  font-size: large;
  background-color: azure;
  color: #5b5b5b;
  border-radius: 50rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: go-left;
  animation-duration: 1s; }

.happy {
  margin-top: 1rem;
  margin-bottom: 5rem; }

.image-and-description {
  margin: auto; }

.landscape {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%; }

.tamaño {
  height: 100vh; }

.titulos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30%; }

.card-img-top {
  height: 15rem;
  object-fit: cover; }

.seccion_video {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.card_contenedora {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: top 4vh;
  margin-bottom: 5vh; }

.card {
  margin: 5rem;
  width: 25rem; }

.card:hover {
  animation-name: jump;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

@keyframes jump {
  0% {
    transform: translate(0%, 0%); }
  50% {
    transform: translate(0%, 5%); }
  100% {
    transform: translate(0%, 0%); } }

#carousel {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10rem;
  object-fit: cover; }

.carousel-inner {
  height: 30rem;
  width: 60rem; }

.col {
  display: flex;
  justify-content: center;
  align-content: center; }

.descripcion {
  margin-left: 5rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  margin-right: 5rem;
  font-size: large;
  background-color: azure;
  padding: 5rem;
  color: #5b5b5b;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: go-left;
  animation-duration: 1s;
overflow: auto;
}

.card-img, .card-img-bottom, .card-img-top {
  width: auto; }

.intro {
  margin-left: 20px;
  margin-left: 20px;
  margin-bottom: 5px; }

.encabezado1 {
  margin-top: 10px;
  margin-bottom: 40px; }

.encabezado2 {
    margin-left: 10rem;
    margin-bottom: 5rem;
    margin-top: 3rem;
    margin-right: 10rem;
    font-size: large;
    background-color: azure;
    padding: 5rem;
    color: rgb(91, 91, 91);
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: go-left;
    animation-duration: 1s;
    overflow: auto;
 }

.mp {
  margin-top: 50px; }

.form-check-label {
  margin-top: 15px;
  margin-left: 15px; }

.form-check-input {
  margin-top: 19px; }

/**Variables**/
/**Maps**/
/*-----------------mediaqueris--------------*/
@media (max-width: 600px) {
  .happy {
    display: none; } }

    @media (min-width: 768px) and (max-width: 940px){
        .carousel-item active{
            width: 600px;
        }
    }
    
    @media (min-width: 400px) and (max-width: 767px){
        .carousel-item active{
            width: 400px;
        }
    }

    @media only screen and (max-width: 981px){
      .logo{
        width: auto;
      }
    }
      /* Changes mobile logo to specified image */

    @media only screen and (max-width: 981px){
      .descripcion{
        width: auto;
        margin-left: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
        padding: 1rem;
    }
  }
    

/**Variables**/
/**Maps**/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .container .row {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto; }
    .container .row .fa {
      padding: 20px;
      text-align: center;
      margin: 5px 2px;
      font-size: 30px;
      width: 50px; }
      .container .row .fa:hover {
        animation-name: jump;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        opacity: 0.9; }
        .container .row .fa:hover .fa-facebook {
          background: #3B5998;
          color: white;
          display: inline-block;
          width: 5%;
          border-radius: 15%;
          padding: 1rem;
          padding-right: 1rem; }
          .container .row .fa:hover .fa-facebook .fa-instagram {
            background-color: #b8085a;
            color: #e4d8e0;
            display: inline-block;
            width: 5%;
            border-radius: 15%;
            padding: 1rem; }
            .container .row .fa:hover .fa-facebook .fa-instagram .fa-whatsapp {
              background: #067547;
              color: white;
              display: inline-block;
              width: 5%;
              border-radius: 15%;
              padding: 1rem; }

@keyframes jump {
  0% {
    transform: translate(0%, 0%); }
  50% {
    transform: translate(0%, 8%); }
  100% {
    transform: translate(0%, 0%); } }


