*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lobster;
}

body{ 
   background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
;
}

h1 {color: rgb(171, 120, 219);font-size: 3.5rem; text-align: center;}
h2 {color: rgb(171, 120, 219);font-size: 2.5rem; text-align: center;}

nav{
    margin-bottom: 3rem;
    display: inline-block; text-align: right; width: 89%; margin-bottom: 4.5%;
}

nav ul li {
    float: right;
    margin-right: 1rem;
    list-style-type: none;
    margin-top: 2rem;
    margin-left: 1rem;
}

.nav-link{
    text-decoration: none;
    color: rgb(171, 116, 223);
    font-size: 2.5rem;
}
nav ul li a:hover{color:#f4fbfc;}

.link{
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color: #d16ba5;
    position: relative;
    margin-top: 10px;
    font-size: 1.5rem;
    
}
.link::after{
    content: '';
    width: 100%;
    height: 1px;
    background:  #d16ba5;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25% ease;

}

.link:hover::after{
    transform: scaleX(1);
}

.social-media{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-right: 1rem;
}

.description-left{
    margin-right: 70rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    font-size: large;
    background-color: azure;
    padding: 5rem;
    color:rgb(91, 91, 91);
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: go-right;
    animation-duration: 1s;
}

@keyframes go-right{
    0%   { transform: translate(-100%, 0%)}
    100% { transform: translate(0%, 0%)}
}

@keyframes go-left{
    0%   { transform: translate(100%, 0%)}
    100% { transform: translate(0%, 0%)}
}

.description-right{
    margin-left: 70rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    font-size: large;
    background-color: azure;
    padding: 5rem;
    color:rgb(91, 91, 91);
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: go-left;
    animation-duration: 1s;
}

.image-and-description{
    margin: auto;
}

.logo{
    display: inline-block;
    width: 10%;
    border-radius: 50%;
    margin: 1%;

}

.nav-bar{
    display: block;
    width: 100%;
    }

.landscape{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tamaño{
    height: 100vh;
}
.titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30%;
}

.card-img-top{
    height: 15rem;
    object-fit: cover;
}

.seccion_video{
   display: flex;
  justify-content: center;
   margin-top: 3rem;
   margin-bottom: 4rem;
}

.card_contenedora{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: top 4vh;
    margin-bottom: 5vh;
}

.card{
    margin: 5rem;
    width: 25rem;
}

.card:hover{
    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes jump {
    0%   { transform: translate(0%, 0%)}
    50% { transform: translate(0%, 5%)}
    100% { transform: translate(0%, 0%)}
}

#carousel{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10rem;
    object-fit: cover;
}
.carousel-inner{
    height: 30rem;
    width: 60rem;
}

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.row{
    max-width: 100%;
}
.fa {  
    padding: 20px;  
  text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
  }  
  .fa-facebook {  
    background: #3B5998;  
    color: white;  
    
  }   
  .fa-instagram {  
    background-color: #b8085a; 
    color: rgb(228, 216, 224);  
  }  
  .fa-whatsapp {  
    background: #067547;  
    color: white;  
  }  
  .fa:hover {  
      opacity: 0.9;  
  }

