@import "variables";

.social-media {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin-right: 1rem;
}
.description-left {
    display: table-cell;
    margin-right: 50rem;
    margin-left: 100rem;
    margin-bottom: 100rem;
    margin-top: 30rem;
    font-size: large;
    background-color: azure;
    padding: 2rem;
    color: rgb(91, 91, 91);
    border-radius: 50rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: go-right;
    animation-duration: 1s;
}

@keyframes go-right {
    0% {
        transform: translate(-100%, 0%)
    }

    100% {
        transform: translate(0%, 0%)
    }
}

@keyframes go-left {
    0% {
        transform: translate(100%, 0%)
    }

    100% {
        transform: translate(0%, 0%)
    }
}

.description-right {
    padding: 2rem;
    font-size: large;
    background-color: azure;
    color: rgb(91, 91, 91);
    border-radius: 50rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: go-left;
    animation-duration: 1s;
}
.happy{
    margin-top: 1rem;
    margin-bottom: 5rem;
}
.image-and-description {
    margin: auto;
}


.landscape {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.tamaño {
    height: 100vh;
}

.titulos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30%;
}

.card-img-top {
    height: 15rem;
    object-fit: cover;
}

.seccion_video {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
    border-radius: 30%;
}

.card_contenedora {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: top 4vh;
    margin-bottom: 5vh;
}

.card {
    margin: 5rem;
    width: 25rem;
}

.card:hover {
    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes jump {
    0% {
        transform: translate(0%, 0%)
    }

    50% {
        transform: translate(0%, 5%)
    }

    100% {
        transform: translate(0%, 0%)
    }
}

#carousel {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10rem;
    object-fit: cover;
}

.carousel-inner {
    height: 30rem;
    width: 60rem;
}


.col {
    display: flex;
    justify-content: center;
    align-content: center;

}

.descripcion {
    margin-left: 10rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    margin-right: 10rem;
    font-size: large;
    background-color: azure;
    padding: 5rem;
    color: rgb(91, 91, 91);
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: go-left;
    animation-duration: 1s;
}

.card-img, .card-img-bottom, .card-img-top {
    width:auto;
}

.intro {
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.encabezado1{
    margin-top: 10px;
    margin-bottom: 40px;
}
.encabezado2{
    margin-left: 10rem;
    margin-bottom: 5rem;
    margin-top: 3rem;
    margin-right: 10rem;
    font-size: large;
    background-color: azure;
    padding: 5rem;
    color: rgb(91, 91, 91);
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: go-left;
    animation-duration: 1s;
}
.mp{
    margin-top: 50px;
}
.form-check-label{
    margin-top: 15px;
    margin-left: 15px;
}
.form-check-input{
    margin-top: 19px;
    
}

