.descripcion {
    margin-left: 10rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    margin-right: 10rem;
    font-size: large;
    background-color: azure;
    padding: 5rem;
    color: rgb(91, 91, 91);
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: go-left;
    animation-duration: 1s;
}
.card_contenedora {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: top 4vh;
    margin-bottom: 5vh;
}

.card {
    margin: 5rem;
    width: 25rem;
}
.card-img-top {
    height: 15rem;
    object-fit: cover;
}
.card:hover {
    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes jump {
    0% {
        transform: translate(0%, 0%)
    }

    50% {
        transform: translate(0%, 5%)
    }

    100% {
        transform: translate(0%, 0%)
    }
}
