@import "variables";
.navbar-nav{
    display: flex !important;
    justify-content: center !important;
    margin: 0px !important;
    }
    
    h1 {
        @include color-tamaño-centrado;
    }
    
    h2 {
        @include color-tamaño-centrado;
    }
    
    nav {
        margin-bottom: 3rem;
        display: inline-block;
        text-align: right;
        width: 89%;
        margin-bottom: 4.5%;
    }
    
    nav ul li {
        float: right;
        margin-right: 1rem;
        margin-top: 2rem;
        margin-left: 1rem;
    }
    
    .nav-link {
        text-decoration: none;
        color: rgb(171, 116, 223);
        font-size: 2.5rem;
    }
    
    nav ul li a:hover {
        color: #f4fbfc;
    }
    
    .link {
        display: inline-block;
        margin-block: 2px;
        text-decoration: none;
        color: #d16ba5;
        position: relative;
        margin-top: 10px;
        font-size: 1.5rem;
    
    }
    
    .link::after {
        content: '';
        width: 100%;
        height: 1px;
        background: #d16ba5;
        border-radius: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .25% ease;
    
    }
    
    .link:hover::after {
        transform: scaleX(1);
    }
    
    .logo {
        display: inline-block;
        width: 10%;
        border-radius: 50%;
        margin: 1%;
    
    }
    .nav-bar {
        display: block;
        width: 100%;
    }
    
    @mixin  color-tamaño-centrado{
        color: rgb(171, 120, 219);
        font-size: 2.5rem;
        text-align: center; 

    }
        