.navegacion{
    margin-bottom: 3rem;
    display: inline-block; text-align: right; width: 89%; margin-bottom: 4.5%;
    .lista{ float: right;
        margin-right: 1rem;
        list-style-type: none;
        margin-top: 2rem;
        margin-left: 1rem;
        .item{ text-decoration: none;
            color: rgb(171, 116, 223);
            font-size: 2.5rem;
            .final{:hover{color:#f4fbfc;
                .intro{
                    color: rgb(171, 120, 219);
    font-size: 3.5rem;
    text-align: center;
    .intro2{color: rgb(171, 120, 219);
        font-size: 2.5rem;
        text-align: center;

    }
                }

            }

        }

    }
}
}