@import "variables";
.cuerpo{
    .description-left{
    display: table-cell;
    margin-right:map-get($rem,treinta-rem);
    margin-bottom: $unidad/2;
    margin-top: $unidad/2;
    font-size: large;
    background-color: azure;
    padding: $unidad/2;
    color: rgb(91, 91, 91);
    border-radius: 50rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: go-right;
    animation-duration: 1s;
    .image-and-description{
        .landscape{
            width: 75%;
            display: block;
            margin-left: $auto;
            margin-right: $auto;
            justify-content: $text-aling;
            object-fit: cover;
            .description-left{
                display: table-cell;
                margin-right: map-get($rem,treinta-rem);
                margin-bottom: $unidad/2;
                margin-top: $unidad/2;
                font-size: large;
                background-color: azure;
                padding: $unidad/2;
                color: rgb(91, 91, 91);
                border-radius: 50rem;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                animation-name: go-right;
                animation-duration: 1s;
                @keyframes go-right {
                    0% {
                        transform: translate(-100%, 0%)
                    }
                
                    100% {
                        transform: translate(0%, 0%)
                    }
                }
                
                @keyframes go-left {
                    0% {
                        transform: translate(100%, 0%)
                    }
                
                    100% {
                        transform: translate(0%, 0%)
                    }
                }
                

            }
        }
    }
    }
}

.seccion_video {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
#carousel {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10rem;
    object-fit: cover;
}

.carousel-inner {
    height: 30rem;
    width: 60rem;
}

.descripcion {
    margin-left: 10rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    margin-right: 10rem;
    font-size: large;
    background-color: azure;
    padding: 5rem;
    color: rgb(91, 91, 91);
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: go-left;
    animation-duration: 1s;
}
.card_contenedora {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: top 4vh;
    margin-bottom: 5vh;
}

.card {
    margin: 5rem;
    width: 25rem;
}
.card-img-top {
    height: 15rem;
    object-fit: cover;
}
.card:hover {
    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes jump {
    0% {
        transform: translate(0%, 0%)
    }

    50% {
        transform: translate(0%, 5%)
    }

    100% {
        transform: translate(0%, 0%)
    }
}
