.cuerpo{
    .description-left{
    display: table-cell;
    margin-right: 30rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    font-size: large;
    background-color: azure;
    padding: 5rem;
    color: rgb(91, 91, 91);
    border-radius: 50rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: go-right;
    animation-duration: 1s;
    .image-and-description{
        .landscape{
            width: 75%;
            display: block;
            margin-left: $auto;
            margin-right: $auto;
            justify-content: $text-aling;
            object-fit: cover;
            .description-left{
                display: table-cell;
                margin-right: 30rem;
                margin-bottom: 5rem;
                margin-top: 5rem;
                font-size: large;
                background-color: azure;
                padding: 5rem;
                color: rgb(91, 91, 91);
                border-radius: 50rem;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                animation-name: go-right;
                animation-duration: 1s;
                @keyframes go-right {
                    0% {
                        transform: translate(-100%, 0%)
                    }
                
                    100% {
                        transform: translate(0%, 0%)
                    }
                }
                
                @keyframes go-left {
                    0% {
                        transform: translate(100%, 0%)
                    }
                
                    100% {
                        transform: translate(0%, 0%)
                    }
                }
                

            }
        }
    }
    }
}
