@media (max-width: 600px) {
    .happy {
        display: none;
    }
}

@media (max-width: 981px) {
    .logo {
        justify-content: center;
        object-fit: cover;
        border-radius: 50%
    }
    
}