.intro {
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.logo {
    display: inline-block;
    width: 10%;
    border-radius: 50%;
    margin: 1%;}
.titulos {
     display: flex;
     justify-content: $text-aling;
     align-items: $text-aling;
     margin-bottom: 30%;
    }
.tamaño {
        height: 100vh;
    }
.image-and-description {
        margin: $auto;
    }
.container {
        display: flex;
        flex-direction: $column;
        justify-content: $text-aling;
    }
.col {
        display: flex;
        justify-content: $text-aling;
        align-content: $text-aling;
    
    }
.card-img, .card-img-bottom, .card-img-top {
        width:$auto;
    }
    