
/**Variables**/
$Centrado: center;
$Automatico: auto;
$Flexible: flex;
$Bloque: inline-block;
$MedidaClave: 1rem;


/**Maps**/
$RedesSociales:(
    facebook:   #3B5998,
    instagram:  #b8085a,
    whatsapp: #067547
)

$Medida: 10%